{% extends 'django_airavata_workspace/wc-base.html' %}

{% load static %}

{% block custom-css %}
{% endblock %}

{% block custom-content %}
<h2>HiCOPS</h2>
<adpf-experiment-editor
  id="experiment-editor"
  application-id="{{ app_module_id }}"
  {% if experiment_id %}
  experiment-id="{{ experiment_id }}"
  {% endif %} >

  <div slot="Mods Information" x-data="{
        modules: [['', '', '']],
        get mods() {
            const moduleStrings = [];
            for (const module of this.modules) {
                if (module.length === 3 && module[0] && module[1] && module[2]) {
                    moduleStrings.push(module.join(':'));
                }
            }
            return moduleStrings.join(',');
        },
        set mods(value) {
            if (value) {
                this.modules = value.split(',').map(m => m.split(':'));
            }
        },
        changed() {
            const inputEvent = new CustomEvent('input', {
                detail: [this.mods],
                bubbles: true,
            });
            // Dispatch on root element to prevent infinite recursion
            this.$root.dispatchEvent(inputEvent);
        },
        remove(index) {
            this.modules.splice(index, 1);
            this.changed();
        },
        initValue(event) {
            this.mods = event.detail.value;
        }
    }" @adpf-input-init="initValue">
    Mods Information
    <template x-for="(module, index) in modules">
        <div>
            <input type="text" x-model="module[0]" @input.stop="changed"/>
            <input type="text" x-model="module[1]" @input.stop="changed"/>
            <input type="text" x-model="module[2]" @input.stop="changed" />
            <button @click="remove(index)" x-show="modules.length > 1">Remove</button>
        </div>
    </template>
    <button @click="modules.push(['', '', ''])">Add module</button>
  </div>
</adpf-experiment-editor>
{% endblock custom-content %}

{% block custom-scripts %}
<script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
<script>

// Initialize editor with saved values
document.getElementById("experiment-editor").addEventListener('loaded', e => {
  const [experiment] = e.detail;
  for (const input of experiment.experimentInputs) {
    const slotEl = document.querySelector(`[slot="${input.name}"]`);
    // console.log("slotEl=", slotEl);
    if (slotEl) {
      const inputEls = slotEl.querySelectorAll('input');
      const textareaEl = slotEl.querySelector('textarea');
      const inputEditorEl = slotEl.querySelector('adpf-radio-button-input-editor, adpf-string-input-editor, adpf-file-input-editor, adpf-checkbox-input-editor, adpf-multi-file-input-editor, adpf-range-slider-input-editor, adpf-select-input-editor, adpf-slider-input-editor, adpf-textarea-input-editor');
      // console.log("inputEls=", inputEls);
      if (inputEls && inputEls.length === 1) {
        if (inputEls[0].type === 'text') {
          inputEls[0].value = input.value;
        } else if (inputEls[0].type === 'radio') {
          for (radio of inputEls) {
            if (radio.value === input.value) {
              radio.checked = true;
              break;
            }
          }
        }
      } else if (textareaEl) {
        textareaEl.value = input.value;
      } else if (inputEditorEl) {
        inputEditorEl.value = input.value;
      }

      // send event to slotted element so it can initialize itself with input value
      slotEl.dispatchEvent(new CustomEvent("adpf-input-init", {detail: input}));
    }
  }
});



</script>
{% endblock %}
